@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: left;
	width: 43.05%;
	margin-left: 1.5%;
	max-width: 20%;
}

footer {
	clear: both;
	padding-top: 1em;
}

header {
	position: relative;
	top: -20px;
	left: 20px;
}

img {
	max-width: 75%;
}

main {
	float: left;
	width: 43.05%;
}

nav {
	float: left;
	width: 8%;
	position: relative;
	left: 0.5em;
	margin-right: 4.4%;
}

#copyright {
	font-size: 80%;
}

#main-container {
	max-width: 68%;
}